{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Page non trouvée{% endblock %}
{% block firstPage %}
    <h1>Oops, quelque chose est cassé <i class="fa fa-exclamation-triangle"></i></h1>
    <h2>
        Le serveur rencontre actuellement des problèmes<br>
        <a href="{{ path('home') }}" class="btn-get-started">Retour à l'accueil</a>
    </h2>
{% endblock %}
{% block body %}
    <p class="lead">
        La page demandée n'a pas été trouvée
        <br>
        <a href="{{  path('home') }}">Retour à l'accueil</a>
    </p>
{% endblock %}