{% extends 'base.html.twig' %}
{%  block title %}
    {{ parent() }} {% trans %}Cours de cuisine{% endtrans %}
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <h1 id="title-underlined">{% trans %}Cours de cuisine{% endtrans %}</h1>

            </div>
        </div>
    </div>
{% endblock %}