{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-lg-8">
            <h1 id="title-underlined">{% trans %}Cours anti-gaspi{% endtrans %}</h1>
            <div id="map">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}