{% extends 'base.html.twig' %}
{%  block title %}
    {{ parent() }} Conseils anti-gaspi
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-lg-8">
            <h1 id="title-underlined">{% trans %}Conseils anti-gaspi{% endtrans %}</h1>

        </div>
    </div>
</div>
{% endblock %}