{% extends 'base.html.twig' %}

{% block title %}Accueil GSBVeto{% endblock %}

{% block body %}
    <h1 class="text-info">Accueil</h1>
    <hr>
    <h2 class="text-info mb-4">
        <em>Suivi des objectifs commerciaux affectés aux vétérinaires</em>
    </h2>
    <div class="offset-2">
        <img src="{{ asset('img/croix-veto.png') }}" title="croix vétérinaire" alt="croix vétérinaire">
    </div>
{% endblock %}
