<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1></h1>
  <p>
  	<a href="">
  	</a>
  </p>
</body>
</html>