{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Page non trouvée{% endblock %}
{% block firstPage %}
    <h1>Page non trouvée <i class="fa fa-search"></i></h1>
    <h2>
        Vous vous êtes perdu ?<br>
        <a href="{{ path('home') }}" class="btn-get-started">Retour à l'accueil</a>
    </h2>
{% endblock %}