{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Page non trouvée{% endblock %}
{% block body %}
    <p class="lead">
        Vous n'avez pas accès à cette page
        <br>
        <a href="{{  path('accueil') }}">Retour à l'accueil</a>
    </p>
{% endblock %}